---
- name: backup old repo
  shell: mv /etc/yum.repos.d/CentOS-Base.repo /etc/yum.repos.d/CentOS-Base.repo.backup
  
- name: set new repo(aliyun)
  get_url: url=http://mirrors.aliyun.com/repo/Centos-7.repo dest=/etc/yum.repos.d/CentOS-Base.repo

- name: makecache
  yum: name=* update_cache=yes
  
- name: update
  yum: name=* state=latest
