---
- name: install rpm
  yum: name=https://repo.zabbix.com/zabbix/3.2/rhel/7/x86_64/zabbix-release-3.2-1.el7.noarch.rpm state=present
  register: rpm
  tags: rpm
  #until: "'done' in rpm"
  retries: 3
  delay: 10

- name: makecache
  yum: name=* update_cache=yes
  register: cache
  tags: cache
#  when: cache|succeeded

- name: install agent
  yum: name=zabbix-agent state=latest
  register: agent
  tags: agent
 # when: agent|succeeded

- name: install agent-get
  yum: name=zabbix-get state=latest
  register: aget
  tags: get
  #when: aget|succeeded
  
- name: install agent-sender
  yum: name=zabbix-sender state=latest
  register: asender  
  tags: sender
  #when: asender|succeeded

- name: change config
  template: src=zabbix_agentd.conf.j2 dest=/etc/zabbix/zabbix_agentd.conf
  tags: file
  notify: restart service
