---
- name: install rpm
  yum: name=https://repo.zabbix.com/zabbix/3.2/rhel/7/x86_64/zabbix-release-3.2-1.el7.noarch.rpm state=present
  tags: rpm

- name: makecache
  yum: name=* update_cache=yes
  tags: cache

- name: install agent
  yum: name=zabbix-agent state=latest
  tags: agent

- name: install agent-get
  yum: name=zabbix-get state=latest
  tags: get

- name: install agent-sender
  yum: name=zabbix-sender state=latest
  tags: sender

- name: change config
  template: src=zabbix_agentd.conf.j2 dest=/etc/zabbix/zabbix_agentd.conf
  tags: file
  notify: restart service
